@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  background-color: lightgray;
}
